Makefile
Makefile.in
Xpoll.h
Xfuncproto.h
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
do-not-use-config.h
do-not-use-config.h.in
install-sh
missing
stamp-h1
stamp-h2
xproto.pc
*~
